{% extends "layout/base.html" %}
{% block content %}
<h2>Welcome to the Area Calculator</h2>
<p>
    Whether you're a student studying geometry or just someone who loves numbers and shapes, our Shape Area Calculator is here to help you effortlessly calculate the area of various shapes. From circles to triangles and rectangles, you can quickly find the area you need.
</p>
<p>
    Here's how it works:
</p>
<ol>
    <li>
        <strong>Circle Area Calculator:</strong> To calculate the area of a circle, simply enter the radius of the circle in the provided field. Our calculator will use the formula <em>Area = π × radius<sup>2</sup></em> to give you the result.
    </li>
    <li>
        <strong>Triangle Area Calculator:</strong> For triangles, input the base and height values into their respective fields. Our calculator uses the formula <em>Area = 0.5 × base × height</em> to calculate the triangle's area.
    </li>
    <li>
        <strong>Rectangle Area Calculator:</strong> If you're dealing with a rectangle, provide the width and height values, and our calculator will use the formula <em>Area = width × height</em> to find the area.
    </li>
</ol>
<p>
    Whether you're studying, designing, or just curious, our Shape Area Calculator is here to make your calculations a breeze. So go ahead, explore the different calculators, and have fun calculating areas!
</p>
{% endblock %}
